* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;

}

.text-color {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav ul {
    display: flex;
    align-items: center;

}

.btn-color {
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 36px;
}

.banner {
    margin: 0px 200px;
    display: flex;
    align-items: center;
}

.bannersub {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    margin: 20px;
}

.bannertitle {
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    margin: 10px;

}
.paratext{
    font-weight: 400;
font-size: 18px;
color: #757575;
margin: 30px;
}
.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,left;
    
}
.main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    margin-top: 130px;
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;


}
.about-title{

    margin-bottom: 30px;
}
.about-dis{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-title{
    font-weight: 400;
    font-size: 20px;
    color: #757575;
    
}
.about-dis1{
    color: #474747;
    font-weight: 700;
font-size: 20px;

}
.about-info{
    display: flex;
    justify-content: space-around;
}